<%-include("partials/navbar")-%>
<%-include("partials/messages")-%>
<div class="col-xsm-12 col-sm-10 col-lg-5 col-md-7 boton card">
    <img class="card-img-top" src="/uploads/<%- usuario[0].image -%>" alt="Card image cap" style="width: 200px; height: 200px; border-radius:80%;">
    <div class="card-body">
        <h1><%- usuario[0].name -%></h1>
        <h4><%- usuario[0].number -%></h4>
        <form class="formulario" action="/consulta/cambiar-fecha/<%- consul._id -%>" method="post">
            <h3 class="mt-4" >Fecha de la consulta</h3>
            <input type="text" name="date" value="<%-consul.date-%>">
            <button type="submit" name="button" class="btn btn-success mt-4">Cambiar fecha</button>
        </form>
    </div>
</div>
<%-include("partials/footer")-%>